main {
    padding: 10px 0 50px;
}
.search-panel {
    width: 350px;
    height: 35px;
    display: flex;
    justify-content: space-between;
}
input {
    width: 250px;
}
.search {
    width: 80px;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.search:hover {
    border: 2px solid green;
}
.cources-section {
    margin-top: 50px;
}
.more {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}
.more:hover {
    text-decoration: underline;
}