@import '../../../colors';
.search-panel {
  width: 350px;
  height: 35px;
  display: flex;
  justify-content: space-between;
}
.search-input {
  width: 250px;
}
.search {
  width: 80px;
  background-color: $background-lingtgreen;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.search:hover {
  border: 2px solid $border-green;
}