@import '../../../colors';
.courses {
    border: 1px solid $background-grey;
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px 20px;
}
.create-date, .duration {
    width: 100px;
}
.course-title {
    margin: 0;
    min-width: 50%;
}
.main-info, .description-course, .description-course-buttons {
    display: flex;
    justify-content: space-between;
}
.description-course-buttons {
    height: 40px;
    margin: auto 0 auto 25px;
}
.edit {
    margin-right: 10px;
}
.edit, .delete {
    width: 100px;
    color: $text-white;
    cursor: pointer;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}
.edit:hover, .delete:hover {
    border: 2px solid $border-blue;
}
.course-button {
    width: 17px;
    margin-right: 10px;
}
.active {
    border:  5px solid red;
}