<form class="login-form">
  <h4 class="login-title">Login</h4>
  <div class="alert alert-danger" role="alert" *ngIf="isError">
    Wrong e-mail or password
  </div>
  <div class="form-group">
    <div class="first-line">
      <span>Email:</span>
      <span class="small">*required</span>
    </div>
    <input type="email" class="form-control" placeholder="Enter e-mail" required #inputUserName (input)="isDisabledButton(inputUserName.value, inputUserPassword.value)">
  </div>
  <div class="form-group">
    <div class="first-line">
      <span>Password:</span>
      <span class="small">*required</span>
    </div>
    <input type="password" class="form-control" placeholder="Enter password" required #inputUserPassword (input)="isDisabledButton(inputUserName.value, inputUserPassword.value)">
  </div>
  <button class="btn btn-success" (click)="showUser(inputUserName.value, inputUserPassword.value)" [disabled]="isDisabled">Login</button>
</form>
