<form class="login-form">
  <h4 class="login-title">Login</h4>
  <div class="form-group">
    <div class="first-line">
      <span>Email:</span>
      <span class="small">*required</span>
    </div>
    <input type="email" class="form-control" placeholder="Enter e-mail" required #inputUserName>
  </div>
  <div class="form-group">
    <div class="first-line">
      <span>Password:</span>
      <span class="small">*required</span>
    </div>
    <input type="password" class="form-control" placeholder="Enter password" required #inputUserPassword>
  </div>
  <button class="btn btn-success" (click)="authService.login()" (isAuth)="authService.isAuthenticated()" [disabled]="true">Login</button>
</form>

<!-- inputUserName.value && inputUserPassword.value -->