$cornflowerblue: #6495ed;
$text-white: #f0ffff;
$border-blue: #0000ff;
$background-grey:  #3a3a3a;
$background-lavender: #e6e6fa;
$background-lingtgreen: #90ee90;
$border-green: #008000;
$star-gray: #617283;
