$cornflowerblue-color: #6495ed;
$white-color: #ffffff;
$blue-color: #0000ff;
$grey-color:  #3a3a3a;
$lavender-color: #e6e6fa;
$lingtgreen-color: #90ee90;
$green-color: #008000;
$lightgrey-color: #617283;
$black-shadow-color: #00000099;
$orange-color: #b68705;
