/* You can add global styles to this file, and also import other style files */
body {
    width: 100%;
    margin: 0;
}
.my-container {
    width: 75%;
    padding: 15px 0;
    margin: auto;
}
header, .header-description, footer {
    display: flex;
    justify-content: center;
}