<header [class.header]='true'>
    <div class="container">
        <div class="logo-section">
            <img src="../../../assets/play-button.png" alt="play-button" [class.logo]='true'>
            <h2>Video course</h2>
        </div>
        <div class="user-section">
            <div class="login">
                <img src="../../../assets/user-regular.svg" alt="user" class="icon">
                <span>User login</span>
            </div>
            <div class="logout">
                <img src="../../../assets/sign-out-alt-solid.svg" alt="logout" class="icon">
                <button>Log off</button>
            </div>
        </div>
    </div>
</header>