.header {
    width: 100%;
    background-color: rgb(58, 58, 58);
}
h2 {
    margin: auto 0 auto 10px;
    color: #fff;
}
.logo {
    width: 40px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.logo-section {
    display: flex;
}
.user-section {
    width: 150px;
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.login, .logout {
    margin: auto;
    cursor: pointer;
}