@import '../../../colors';
.footer {
    width: 100%;
    background-color: $grey-color;
    position: fixed;
    bottom: 0;
    left: 0;
    color: $white-color;
}
.my-container {
    display: flex;
    justify-content: flex-end;
}