@import '../../../colors';
.footer {
    width: 100%;
    background-color: $background-grey;
    position: fixed;
    bottom: 0;
    left: 0;
    color: $text-white;
}
.my-container {
    display: flex;
    justify-content: flex-end;
}